@import '~@patternfly/patternfly/sass-utilities/all';

.sub-c-drawer-satellite-manifest {
  h2.pf-c-title {
    margin-bottom: 20px;
  }

  .pf-c-badge {
    margin-left: 5px;
  }

  @media (min-width: $pf-global--breakpoint--md) {
    .pf-c-search-input {
      min-width: 270px;
    }
  }
}
