.sca-status-error-icon {
  margin-top: 2px;
  margin-bottom: -2px;
}

.sca-status-error-msg {
  font-size: 12px;
  line-height: 1.4em;
  width: calc(100% - 23px);
  float: right;
}

.sca-status-spinner {
  margin: 6px 0 -6px 5px;
}
