.manifest-details-content {
  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
    margin: 1.5em 0 0.8em;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    margin: 0.4em 0;
  }
  .manifest-details-delete-text {
    margin-top: 30px;
  }

  button {
    margin-top: 20px;
  }
}
