.manifests_entitlement-list-table {
  margin-top: 10px;
  margin-bottom: 20px;

  thead {
    tr {
      border: none;
    }

    th {
      padding-left: 30px;
    }
  }
}

.entitlement-list-loading-container,
.no-entitlements-reason {
  padding: 30px;
}

.pf-c-table__expandable-row tr > td {
  padding: 0 30px;
}
