.manifest-detail-drawer-loading {
  margin: 50px 0;
}

.manifest-details-content {
  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    margin: 4px 0;
  }

  .manifest-details-open-entitlements-button {
    padding: 0;
    margin: 4px 0;
  }

  .manifest-details-delete-text {
    margin-top: 30px;
  }

  button.pf-m-tertiary {
    margin-top: 30px;
  }
}
