.sub-manifest-detail-drawer-loading {
  margin-right: -50px;
  min-height: calc(100vh - 247px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-c-drawer__panel-manifest-details {
  font-size: var(--pf-global--FontSize--sm);

  .pf-l-grid__item {
    padding: var(--pf-global--spacer--xs) 0;
  }

  h3 {
    font-size: var(--pf-global--FontSize--2xl);
    font-weight: var(--pf-global--FontWeight--bold);
  }

  h4 {
    font-size: var(--pf-global--FontSize--lg);
    margin: 10px 0;
    font-weight: 600;
  }

  .sub-c-button-manifest-details-open-entitlements {
    padding: 0;
    margin: var(--pf-global--spacer--xs) 0;
  }

  .sub-manifest-details-delete-text {
    margin-top: 30px;
  }

  button.pf-m-tertiary {
    margin-top: 30px;
  }
}
